[Unit]
Description=barySSH server service
After=sshd.service
Requires=sshd.service

[Service]
Type=oneshot
EnvironmentFile=/etc/baryssh-server.conf
ExecStart=baryssh
